.App {
  margin: 60px auto;
  max-width: 800px;
  display: block;
  box-sizing: border-box;
}

.Weather {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  color: #878787;
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
  padding: 40px;
}
.Weather form {
  border-bottom: 1px solid #f9f7fe;
  margin-top: 40px;
  padding-bottom: 30px;
}
.WeatherInfo {
  margin-top: 20px;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--bs-gutter-x) * -0.5);
  margin-right: calc(var(--bs-gutter-x) * -0.5);
  margin-top: calc(var(--bs-gutter-y) * -1);
}
.Weather h1 {
  color: #272142;
  font-size: 38px;
  font-weight: 700;
  line-height: 29px;
  line-height: 48px;
  margin: 20px 0 10px;
}
li {
  text-transform: capitalize;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.Weather li strong {
  color: #f65282;
  font-weight: 400;
}
.Weather .btn {
  background: #885df1;
  border: none;
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  padding: 15px 0;
}
.Weather .search-input {
  background: #f9f7fe;
  border: none;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.4);
  display: inline-block;
  font-size: 16px;
  height: 50px;
  line-height: 20px;
  padding: 15px 20px;
}
.Weather .temperature {
  color: #212121;
  font-size: 80px;
  font-weight: 400;
  font-weight: 700;
  line-height: 1;
  margin-left: 20px;
  margin-right: 20px;
}
.Weather .unit {
  color: #212121;
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
  line-height: 1;
  position: relative;
  top: -34px;
  margin-right: 20px;
}
.WeatherInfo .temperature-container {
  align-items: center;
  margin-top: 30px;
}
.justify-content-end {
  justify-content: flex-end !important;
}
.d-flex {
  display: flex !important;
}
.WeatherForecast {
  border-bottom: 1px solid #f9f7fe;
  margin: 60px 0;
  padding-bottom: 60px;
  padding-top: 50px;
  text-align: center;
}
.WeatherForecast .forecast-time {
  color: rgba(39, 33, 66, 0.4);
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}
.WeatherForecast .forecast-temperature {
  color: #f65282;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
}
.Weather footer {
  color: rgba(39, 33, 66, 0.4);
  font-size: 14px;
  line-height: 18px;
  margin-top: 40px;
  text-align: center;
}
footer {
  display: block;
}
